<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol>
                <li>Crie um botão "Alternar Detahes" e um parágrafo abaixo com o texto "Senha Secreta = atum"</li>
                <li>Esse parágrafo deve alternar entre aparecer e não aparecer quando o botão for clicado</li>
                <li>Além disso, cada clique no botão deve adicionar em um array (vazio inicialmente) o comprimento desse array
                    + 1</li>
                <li>Mostrar esse array em uma lista ordenada, abaixo do parágrafo</li>
                <li>Começando do quinto elemento desse array, dar um background-color: blue (através do ngStyle) e um color:
                    white; padding: 1rem (através do ngClass)</li>
            </ol>
        </div>
    </div>
</div>
