<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <ol>
                Utilizar um form com a técnica de Reactive Form!!!! (validações no ts)
                <li>Crie um form com os seguintes inputs + labels e validações:</li>
                <li>nome: não pode ser vazio, não pode conter números, deve ter no mínimo 4 caracteres</li>
                <li>email: email válido, não pode ser vazio</li>
                <li>Dropdown com as seguintes opções (não precisam estar em um array): báciso, intermediário e avançado</li>
                <li>a opção avançado deve estar selecionada</li>
                <li>senha: não deve ser vazia</li>
                <li>confirmar senha: valor igual a senha e não vazia</li>
                <li>botão de submit</li>
                <li>se o form for inválido e todos os campos foram clicados (touched): mostrar "campo inválido" nos campos que
                    são inválidos</li>
                <li>se o form for válido: mostrar no html a label seguido do valor (ex: email: email@emailcom)</li>
            </ol>
            <p>Dica: se não funcionar, checar o app.module.ts (falta um import!)</p>
        </div>
    </div>
</div>
