<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol>
                <li>Crie 1 componente manualmente chamado WarningAlert</li>
                <li>Crie somente o arquivo .ts dele (utilize as propriedades template e styles do decorador @Component para mostrar
                    uma mensagem de alerta em amarelo)</li>
                <li>Crie 1 componente utilizando o CLI (ng g c) chamado SuccessAlert</li>
                <li>Crie uma mensagem de Sucesso na cor verde no arquivo .html e estilize com o arquivo .css</li>
                <li>Carregue os 2, um abaixo do outro no AppComponent</li>
            </ol>
        </div>
    </div>
</div>
