<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <ol>
                Utilizar um form com a técnica de Template Driven!!!! (validações no html)
                <li>Crie um form com os seguintes inputs + labels e validações:</li>
                <li>email: email válido, não pode ser vazio</li>
                <li>Dropdown com as seguintes opções: báciso, intermediário e avançado</li>
                <li>Essas opções devem estar dentro de um array no .ts e a opção avançado deve estar selecionada ao iniciar</li>
                <li>senha: não deve ser vazia</li>
                <li>botão de submit</li>
                <li>se o campo for inválido e foi clicado (touched): mostrar span "campo inválido" nos campos que são inválidos
                </li>
                <li>Se o form for inválido mostrar: "formulário inválido"</li>
                <li>se o form (ngSubmit) for válido quando clicar no botão: mostrar no html a label seguido do valor (ex: email:
                    email@emailcom), além de mostrar o form no console</li>
            </ol>
            <p>Dica: se não funcionar, checar o app.module.ts (falta um import!)</p>
        </div>
    </div>
</div>
